:root {
    --MainBackgroundColor: white;
    --BackgroundColor: #f4f4f4;
    --AccentColor: #5acbe3;
    --HeaderBackgroundColor: #2f2f2f;
    --MenuLinkColor: #ffffff;
    --LeadingTextColor: #3d454e;
    --TextColor: #30363d;
}
