{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": ["last 2 versions", "> 2%"]
        },
        "modules": false
      }
    ]
  ],
  "plugins": [
    "syntax-dynamic-import",
    [
      "transform-react-jsx",
      {
        "pragma": "element"
      }
    ]
  ]
}
