body {
    font-family: source-sans-pro, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
}

code {
    padding: 2px 4px;
    font-size: 90%;
    color: #c7254e;
    background-color: #f9f2f4;
    border-radius: 4px;
}