@import "../color.css";
@import "./_var-layout.css";
.Header {
    background-color: #FBFBFB;
    padding: 5px 0;
    display: flex;
}

.Header .Logo {
    margin-right: auto;
    padding: 0.5rem var(--left-start-padding);
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    flex-direction: row;
}

.HeaderMenuNav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
    padding-right: var(--right-end-padding);
}

.HeaderMenus, .HeaderMenuItem {
    display: inline-block;
}

.HeaderMenuNav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

/*
    | E <p> E <p> E |
*/
.HeaderMenuItem {
    padding: 0.625rem 1rem;
}

.HeaderMenuItem:first-child {
    padding-left: 0;
}

.HeaderMenuItem:last-child {
    padding-right: 0;
}
/* link color*/
.HeaderMenuItem a {
    color: var(--MenuLinkColor);
}

.Logo-img {
    height: 40px;
}