@import "./_var-layout.css";
@import "../color.css";

.TextlintDemo {
    background-color: var(--MainBackgroundColor);
}

.TextlintDemo-title {
    padding-left: var(--left-start-padding);
    padding-right: var(--right-end-padding);
}

.TextlintDemo-ruleBox, .TextlintDemo-errorBox {
    padding-bottom: 1rem;
}

.TextlintDemo-Content {
    height: 100%;
    line-height: 1.5;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.TextlintDemo-Editor {
    border-right: 1px solid #ddd
}

.TextlintDemo-Setting {
    border-left: 1px solid #ddd
}

.TextlintDemo-Editor, .TextlintEditor .TextlintDemo-Setting, .TextlintErrorList {
    width: 100%;
}

/*TextlintDemo-Editor | TextlintDemo-Setting*/
.TextlintDemo-Editor, .TextlintEditor, .TextlintDemo-Setting {
    height: 100%;
}

.TextlintDemo-Editor h3, .TextlintDemo-Setting h3 {
    /* 縦位置をめにゅーと揃える */
    padding: 0;
    margin: 0;
    padding-right: var(--right-end-padding);
    text-align: right;
    background-color: #f4f4f4;
    color: var(--TextColor);
}

.CodeMirrorEditor {
    height: 100%;
}

.CodeMirror {
    height: auto;
    font-size: 14px;
}